<html>

<head>

<script>
var count = 0

function clickThis() {
	count += 1;
	if (count > 0 && count < 4) {
		if (count === 3) {
			window.location.href = "final_reading";
		}
	}
	else {
		document.getElementById("catDiv").innerHTML = "(click the button)";
	}
};
</script>


<style>

	body {
	 	background-image: url("static/Battleground3.png");
/*	 	background-color: #cccccc;*/
	}

.center-div
{
  margin: 0 auto;
  max-width: 1500px;
  height: 100px;
/*  background-color: #ccc;*/
  border-radius: 3px;
}

.card {
    cursor: url("static/sparkles.png"), auto;
}

</style>
</head>

<body>

<p>BUTT</p>

<div  class="center-div">
<p align="center">
	<img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px" onclick="clickThis()">
	<img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px" onclick="clickThis()">
	<img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px" onclick="clickThis()">
	<img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px" onclick="clickThis()">
	<img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px" onclick="clickThis()"></p>
<p align="center"><img src="static/choose-final-three.png"></p>
</div>

</body>

</html>