<html>

<head>

<style>

	body {
	 	background-image: url("static/Battleground3.png");
	}

.center-div
{
  margin: 0 auto;
  max-width: 700px;
  height: 100px;
  border-radius: 3px;
}

.card {
    cursor: url("static/sparkles.png"), auto;
}

</style>



</head>

<body>

<p>BUTT</p>

<div  class="center-div">
<p align="center"><a href="/cut_deck"><img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px"><img class="card" src="static/backing_diamond_2x-big.png" style="padding: 0 15px"></a></p>
<p align="center"><img src="static/the-deck-is-cut.png"></p>
</div>
</body>

</html>